<div class="columns is-justify-content-center">
  <div class="column is-one-third my-9">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/assets/images/dog5.jpg" alt src="https://bulma.io/images/placeholders/1280x960.png">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><a href = "/api/user/">{{user.username}}placeholdername</a></p>
          </div>
        </div>

        <div class="content">
          {{bio}}
        </div>
        <!-- bio modal -->
        <button class="editBio" type="submit">Edit Bio</button>
        <div class="bioModal modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Edit Profile</p>
              <button class="biodelete delete" aria-label="close"></button>
            </header>
            <div class="modal-content">
              <!-- Any other Bulma elements you want -->
              <textarea id="age" placeholder="Age"></textarea>
              <textarea id="breed" placeholder="Breed"></textarea>
              <textarea id="toys" placeholder="Favorite Toys"></textarea>
              <textarea id="shortBio" placeholder="A Short Bio"></textarea>
            </div>
            <footer class="modal-card-foot">
              <button class="bio-modal-save is-success">Save changes</button>
              <button class="bio-modal-cancel">Cancel</button>
            </footer>
          </div>
        </div>
        <!-- end bio modal -->
      </div>
    </div>
  </div>
</div>
<!-- ending profile -->

