<section class="card">
    <article class="media">
        <figure class="media-left">
            <p class="image is-48x48">
                <img src="/user/{{image}}" alt="{{user_id}}">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{user.username}}</strong>
                <div class="card-body">
                    <p>{{body}}</p>
                </div>
                </p>
            </div>
        </div>
    </article>
</section>
 