<div>
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{username_id}}</strong>
                    <br>
                    {{description}} 
                    <br>
                </p>
            </div>
            {{#each comments as |comment|}}
            {{> comment-details}}
            {{/each}}
        </div>
    </article>

    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <form class="media-content commentSubmitForm">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" class="comment-text-box" placeholder="Add a comment..."></textarea>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button" type="submit">Post comment</button>
                </p>
            </div>
        </form>
    </article>
</div>