<div class="container">
  <form class="submitForm">
    <textarea class="textarea" id="text-box" placeholder="What's on your mind?"></textarea>
    <button class="post" type="submit">post</button>
  </form>
</div>


<!-- this is your profile -->
{{> bio-details}}

<!-- this is reading status of others -->
{{#each posts as |post|}}
{{> post-details}}
{{/each}}





<script src="/js/post.js"></script>