<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="logIn button is-light" href="/login" type="submit">
              Log in
            </a>
            <a class="signUp button is-light" href="/signup" type="submit">
              Sign up!
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>

<script src="./js/login.js"></script>