
  <!--log in modal -->


  <div class="logInModal modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Log In</p>
        <button class="logIndelete delete" aria-label="close"></button>
      </header>
      <div class="modal-content">
        <!-- Any other Bulma elements you want -->
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login">email:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
        </form>
        <!-- how to make password show up as bullet points? -->
      </div>
      <footer class="modal-card-foot">
        <button class="logInmodal-save is-success">Save changes</button>
        <button class="logInmodal-cancel">Cancel</button>
      </footer>
    </div>
  </div>

  <!-- end log in modal  -->


<script src="./js/login.js"></script>
