
   <!--sign up modal -->


   <div class="signUpModal modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Sign Up</p>
        <button class="signUpdelete delete" aria-label="close"></button>
      </header>
      <div class="modal-content">
        <!-- Any other Bulma elements you want -->
        <textarea class="textarea" placeholder="Email"></textarea>
        <textarea class="textarea" placeholder="Username"></textarea>
        <textarea class="textarea" placeholder="Password "></textarea>
        <textarea class="textarea" placeholder="Confirm Password"></textarea>
        <!-- how to make password show up as bullet points? -->
      </div>
      <footer class="modal-card-foot">
        <button class="signUpmodal-save is-success">Save changes</button>
        <button class="signUpmodal-cancel">Cancel</button>
      </footer>
    </div>
  </div>

  <!-- end sign up modal  -->



<script src="./js/signup.js"></script>