<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="./assets/images/Logo.png" width="112" height="28">
        </a>
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <button class="signUp button is-light" type="submit">
              Sign up!
            </button>
            <a class="logIn button is-light" href="/login">
              Log in
            </a>
          </div>
        </div>
      </div>
    </form>
  </div>


  <script src="/js/signup.js"></script>

